<!--参考サイト https://qiita.com/isaatsu0131/items/ad1d0a6130fe4fd339d0-->
<div class="container mt-5">
  <div class="row">
    <div class="col-10">
      <h2>カレンダー</h2>
      <%= link_to 'スケジュール追加', new_blog_path %>

      <table>
        <thead>
          <tr>
            <th>タイトル</th>
            <th>時間</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= blog.title %></td>
              <td><%= l blog.start_time %></td>
              <td><%= link_to 'Show', blog, class: "btn btn-outline-primary btn-sm" %></td>
              <td><%= link_to 'Edit', edit_blog_path(blog.id), class: "btn btn-outline-success btn-sm" %></td>
              <td><%= link_to 'Destroy',blog_path(blog.id), method: :delete, data: { confirm: '本当に消してもいいですか？' }, class: "btn btn-outline-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= month_calendar events: @blogs do |date, blogs| %>
        <%= date.day %>

        <% blogs.each do |blog| %>
          <div>
            <%= link_to blog.title, blog %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



