<div class="row">
  <% if @post.post_comments.exists? %>
    <% post.post_comments.reverse.each do |post_comment| %>
      <div class="col-md-3 mt-5">

        <div class="pt-2">
          <%= link_to user_path(post_comment.user) do %>
            <%= attachment_image_tag post_comment.user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no-image.jpg", class: "rounded-circle" %>
          <% end %>
          <%= post_comment.user.name %> <span style="margin-left: 40px;"><%= time_ago_in_words(post_comment.created_at).upcase %>前</span>
        </div>
        <hr>



        <div class="overflow-wrap mb-2">
          <%= post_comment.comment %>
          <div class="pull-right">
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true %>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  <% else %>
    <p>コメントがありません</p>
  <% end %>
</div>







