<% visiter = notification.visiter %>
<% visited = notification.visited %>

<div class="col-md-5 mx-auto">
  <div class="card-body">
    <table class="table table-borderless">
      <tr>
        <td><%= attachment_image_tag notification.visiter, :profile_image, size: "80x80", fallback: "no-image.jpg", class: "rounded-circle" %></td>

        <% if notification.action == 'follow' %>
          <td class="pt-4">
            <%= link_to notification.visiter.name, user_path(visiter), style: "font-weight: bold;" %>さんがあなたにフォローしました
          </td>
        <% end %>

        <% if notification.action == 'comment' %>
          <td class="pt-4">
            <%= link_to notification.visiter.name, user_path(visiter), style: "font-weight: bold;" %>さんが
            <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>にコメントしました<br>
            <span class="overflow-wrap"><%= PostComment.find_by(id: notification.post_comment_id)&.comment %></span>
          </td>
        <% end %>

        <% if notification.action == 'like' %>
          <td class="pt-4">
            <%= link_to notification.visiter.name, user_path(visiter), style: "font-weight: bold;" %>さんが
            <%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;" %>にいいねをしました
          </td>
        <% end %>
      </tr>

      <tr>
        <td class="pl-4"><%= time_ago_in_words(notification.created_at).upcase %>前</td>
      </tr>
    </table>
  </div>
</div>













