<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <% if users.exists? %>
        <table class="table">
          <thead>
            <tr>
              <th style="font-family: cursive;">ProfileImage</th>
              <th style="font-family: cursive;">Name</th>
              <th style="font-family: cursive;">FollowStatus</th>
              <th colspan="3"></th>
            <tr>
          </thead>

        <% users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", class: "user_image" %>
                <% end %>
              </td>

              <td style="padding-top: 80px;"><%= user.name %></td>

              <td style="padding-top: 80px;">
                <span class="follow-btn_<%= user.id %>"><%= render 'users/info', user: user %></span>
              </td>
            </tr>
          </tbody>
        <% end %>
        </table>
      <% else %>
        <p>ユーザーがいません</p>
      <% end %>
    </div>
  </div>
</div>







