<div class="container fadeUp">
  <div class="row">
    <div class="col-sm-4 img1">
    </div>

    <div class="col-sm-4">
      <div class="form-body p-4">
        <%= form_with model: @user, local:true do |f| %>

            <%= f.label :プロフィール画像 %><br />
            <%= f.attachment_field :profile_image %><br />
            <br />

            <%= f.label :名前 %>
            <%= f.text_field :name, class:"form-control" %><br />

            <%= f.label :プロフィール %>
            <%= f.text_area :introduction, class:"form-control", rows:"3" %><br />

            <%= f.submit '更新', class:"btn btn-outline-dark" %>

            <% if user_signed_in? && @user.id == current_user.id %>
                <%= link_to "退会", users_hide_path(current_user), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
            <% end %>

        <% end %>
      </div>
    </div>

    <div class="col-sm-4 img2">
    </div>

  </div>
</div>
