<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p><%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg" %></p>
            <p class="pl-4"><%= render 'info', user: @user %></p>
            <% if @user.id == current_user.id %>
                <p><%= link_to "編集", edit_user_path(@user), class: "btn btn-success btn-md ml-5" %></p>
            <% end %>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                   <td height="80", style="font-family: cursive;">Name</td>
                   <td>: <%= @user.name %></td>
                    <td class="pl-5">
                        <%= link_to user_followings_path(@user.id) do %>
                            フォロー数: <%= @user.followings.count %>
                        <% end %>
                    </td>
                    <td class="pl-3">
                        <%= link_to user_followers_path(@user.id) do %>
                            フォロワー数: <%= @user.followers.count %>
                        <% end %>
                    </td>
                </tr>

                <tr>
                   <td height="50", style="font-family: cursive;">Profile </td>
                   <td>: <%= @user.introduction %></td>
                </tr>

            </table>
        </div>
    </div>

    <div class="row">
        <% @user.posts.each do |post| %>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="slider zoomIn">
                    <% if post.images.attached? %>
                        <% post.images.each do |image| %>
                            <%= link_to post_path(post) do %>
                                <%= image_tag image, size: "350x300" %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

</div>
















