<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg" %>
        </div>
        <div class="col-md-4">
            <table>
                <tr>
                   <td>名前:</td>
                   <td> <%= @user.name %></td>
                </tr>

                <tr>
                   <td height="100">プロフィール:</td>
                   <td> <%= @user.introduction %></td>
                </tr>

                <tr>
                    <% if @user.id == current_user.id %>
                        <td><%= link_to "編集", edit_user_path(@user), class: "btn btn-success btn-md ml-5" %></td>
                    <% end %>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <table>
                <tr>
                    <td><%= render 'info', user: @user %></td>
                </tr>

                <tr height="80">
                    <td>フォロー数: <%= @user.followings.count %></td>
                    <td class="pl-5">フォロワー数: <%= @user.followers.count %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 200px;">
        <% @user.posts.each do |post| %>
            <div class="card">
                <%= link_to post_path(post) do %>
                    <%= attachment_image_tag post, :image, size: "300x300" %>
                <% end %>
            </div>
        <% end %>
    </div>

</div>









