<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p><%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", class: "user_image" %></p>
            <p class="pl-4">
                <span class="follow-btn_<%= @user.id %>">
                    <%= render 'users/info', user: @user %>
                </span>
            </p>
            <% if @user.id == current_user.id %>
                <p><%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-dark btn-md ml-5" %></p>
            <% end %>
        </div>
        <div class="col-md-6">
            <table>
                <tr class="follow-count_<%= @user.id %>">
                   <%= render 'users/follow-count', user: @user %>
                </tr>

                <tr>
                   <td height="50", style="font-family: cursive;">Profile </td>
                   <td>: <%= @user.introduction %></td>
                </tr>

            </table>
        </div>
    </div>

    <div class="row">
        <% @user.posts.reverse.each do |post| %>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="slider zoomIn">
                    <% if post.images.attached? %>
                        <% post.images.each do |image| %>
                            <%= link_to post_path(post) do %>
                                <%= image_tag image, size: "350x300" %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

</div>
















