<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <% @posts.reverse.each do |post| %>
        <div class="card card-body mt-5">
          <div class="slider mt-2">
            <% if post.images.attached? %>
              <% post.images.each do |image| %>
                <%= link_to post_path(post) do %>
                  <%= image_tag image, class: "post-image" %>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div class="like-btn_<%= post.id %>">
            <%= render "likes/like-btn", post: post %>
          </div>
          <p>投稿者:
            <%= link_to user_path(post.user.id) do %>
              <%= post.user.name %>
            <% end %>
          </p>


          <!--投稿日時-->
          <p><strong>日付</strong><br /><%= l post.created_at %></p><br />

          <p><strong>タイトル</strong><br /><%= post.title %></p><br />

          <p class="overflow-wrap"><strong>詳細</strong><br /><%= post.body %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



















