<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <% @posts.reverse.each do |post| %>
        <div class="card card-body mt-5">
            <%= link_to user_path(post.user.id) do %>
              <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.jpg" %>  <%= post.user.name %>
            <% end %>

            <%= attachment_image_tag post, :image %>

            <div class="like-btn_<%= post.id %>">
              <%= render "likes/like-btn", post: post %>
            </div>

            <!--投稿日時-->
            <%= l post.created_at %><br />

            <p>タイトル<br /><%= post.title %></p><br />

            <p>詳細<br /><%= post.body %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



















