<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="form-body p-4">
        <%= form_with model: @post, local:true do |f| %>

          <%= f.label :写真 %><br />
          <%= f.attachment_field :image %><br />
          <br />

          <%= f.label :タイトル %>
          <%= f.text_field :title, class:"form-control" %><br />

          <%= f.label :詳細 %>
          <%= f.text_area :body, class:"form-control", rows:"3" %><br />

          <%= f.submit '新規投稿', class:"btn btn-md btn-info mt-4" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
