<div class="container">
    <div class="row">
        <div class="col-sm-4 mt-5">
            <div class="slider">
                <% if @post.images.attached? %>
                    <% @post.images.each do |image| %>
                        <%= image_tag image, format: 'jpeg', size: "300x300" %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="col-sm-3 mt-5">

            <span class="like-btn_<%= @post.id %>">
              <%= render "likes/like-btn", post: @post %>
            </span>
            <% if @post.user.id == current_user.id %>
                <span><%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-dark btn-md" %></span>
                <span><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-outline-danger btn-md" %></span>
            <% end %>

            <br>
            <hr>

            <span style="font-family: cursive;">Name:</span>
            <span>
                <%= link_to user_path(@post.user.id) do %>
                    <%= @post.user.name %>
                <% end %>
            </span>

            <br>
            <hr>

            <span style="font-family: cursive;">Title</span>
            <span> : <%= @post.title %></span>

            <br>
            <hr>

            <span style="font-family: cursive;">Contents</span>
            <span class="overflow-wrap"> : <%= @post.body %></span>

        </div>

        <div class="col-3 mt-5">
            <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
                <%= f.text_area :comment, rows:"5", size: "45x5" %>
                <%= f.submit "投稿", class: "btn btn-outline-dark btn-md mt-3" %>
            <% end %>
        </div>


    </div>

        <div class="post_comments mt-5">
            <% if @post.post_comments.exists? %>
                <%= render 'post_comments/comment', post: @post %>
            <% else %>
                <p>コメントはありません</p>
            <% end %>
        </div>
</div>











