<div class="container">
    <div class="row">
        <div class="col-sm-4 mt-5">
            <div class="slider">
                <% if @post.images.attached? %>
                    <% @post.images.each do |image| %>
                        <%= image_tag image, format: 'jpeg', size: "300x300" %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="col-sm-5 mt-5">
            <table class="table-white">
                <tr>
                    <td class="like-btn_<%= @post.id %>">
                      <%= render "likes/like-btn", post: @post %>
                    </td>
                    <% if @post.user.id == current_user.id %>
                        <td><%= link_to "編集", edit_post_path(@post), class: "btn btn-success btn-md" %></td>
                        <td><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger btn-md" %></td>
                    <% end %>
                </tr>

                <tr height="50">
                    <th style="font-family: cursive;">Name</th>
                    
                    <td>:
                        <%= link_to user_path(@post.user.id) do %>
                            <%= @post.user.name %>
                        <% end %>
                    </td>
                </tr>

                <tr height="50">
                    <th style="font-family: cursive;">Title</th>
                    <td> : <%= @post.title %></td>
                </tr>

                <tr height="50">
                    <th style="font-family: cursive;">Contents</th>
                    <td class="overflow-wrap"> : <%= @post.body %></td>
                </tr>

            </table>
        </div>

        <div class="col-3 mt-5">
            <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
                <%= f.text_area :comment, rows:"5", class: "w-100" %>
                <%= f.submit "投稿", class: "btn btn-info btn-md mt-3" %>
            <% end %>
        </div>
    </div>

        <div class="post_comments mt-5">
            <% if @post.post_comments.exists? %>
                <%= render 'post_comments/comment', post: @post %>
            <% else %>
                <p>コメントはありません</p>
            <% end %>
        </div>
</div>










